<!-- Content section -->
<section class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Section Heading</h1>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi
					officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
			</div>
			<div class="col-md-4" contentful-entries="'content_type=event&limit=5&order=fields.date'">
				<h4>Upcoming Events</h4>
				<ul class="list-group py-4">
					<li class="list-group-item" ng-repeat="event in $contentfulEntries.items">
						<a ui-sref="event({ eventTitle : event.fields.urlSlug })">{{ event.fields.title }}</a>
						<i class="fa fa-calendar-o pull-right"></i>
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>

<div class="py-5" contentful-entries="'content_type=productLine'">
	<div class="container">
		<div class="row py-4" ng-repeat="productLine in $contentfulEntries.items">
			<div class="col-md-8">
				<h2><a ui-sref="products({ productLine : productLine.fields.urlSlug })">{{productLine.fields.title}}</a> </h2>
				<p class="lead py-2">{{productLine.fields.descriptionShort}}</p>
			</div>
			<div class="col-md-4">
					<a ui-sref="products"><img class="featurette-image img-fluid mx-auto img-thumbnail"  ng-src="{{productLine.fields.image.fields.file.url}}" ></a>
			</div>
		</div>
	</div>
</div>

<div class="py-5" contentful-entries="'content_type=blogArticle&limit=3'">
	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-6 mb-4" ng-repeat="article in $contentfulEntries.items">
				<div class="card h-100">
					<a href="#">
						<img class="card-img-top" ng-src="{{ article.fields.image.fields.file.url }}" alt="">
					</a>
					<div class="card-body">
						<h4 class="card-title">
							<a ui-sref="article({ articleTitle: article.fields.urlSlug })">{{ article.fields.title }}</a>
						</h4>
						<p class="card-text">{{ article.fields.shortBody }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>