body {
  padding-top: 54px; }

@media (min-width: 992px) {
  body {
    padding-top: 56px; } }

.carousel-item {
  height: 40vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.rtf img {
  max-width: 100%; }

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
